.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
.events-view {
  min-width: 60vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-view {
  min-width: 40vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #323f4b;
  color: #ffffff;
  align-self: flex-start;
}
.registration-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
